html {
    font-family: monospace;
}

nav {
    position: relative;
    top: -20px;
    bottom: 0px;
    margin-right: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 2px;
    font-size: 25px;
    overflow: hidden;
    text-decoration: none;
    border-bottom: 2px solid rgb(72, 244, 72);
}

nav a:hover {
    text-decoration: none;
    background-color: #04AA6D;
    color: white;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a.active {
    color: black;
    background-color: #04AA6D;
}