html {
    background-color: black;
    font-family: monospace;
}

section {
    font-size: 5rem;
}

aside {
    font-size: 1.5rem;
}

.green {
    color: maroon;
}

#age {
    color: silver;
}

#address {
    color: gold;
    font-family:monospace;
}